//colors
$primary: #463558;
$secondary: #d1e7e0;
$text-color: #161718;
$text-color-secondary: #ffffff;

// fonts
$font-base: 'Montserrat', Arial, 'sans-serif';

//sizes
$text-size: 16px;

html {
  box-sizing: border-box;
}

* ::before,
::after {
  box-sizing: inherit;
}

p,
span,
h1,
h2,
h3 {
  margin: 0;
  padding: 0;
}

body {
  background-color: $secondary;
  color: $text-color;
  font-family: $font-base;
  font-size: $text-size;
  line-height: 1.3;
}

img {
  max-width: 100%;
}

a {
  color: $primary;
  font-weight: 500;
}

.container {
  padding-inline: 20px;
  @media screen and (min-width: 1100px) {
    padding-inline: 240px;
  }
}

// navigation
.navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 20px;
  @media screen and (min-width: 1100px) {
    margin: 50px 50px 70px;
  }
}

.navigation__logo {
  font-size: 20px;
  font-weight: 700;
  color: $primary;
  text-decoration: none;
  @media screen and (min-width: 1100px) {
    font-size: 40px;
    font-weight: 600;
  }
}

.navigation__items {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 7px;
  @media screen and (min-width: 1100px) {
    flex-direction: row;
    gap: 10px;
  }
}

.navigation__item {
  color: $primary;
  font-size: 12px;
  font-weight: 700;
  text-decoration: none;
  &:hover {
    color: $secondary;
    background-color: $primary;
    text-decoration: underline;
  }
  @media screen and (min-width: 1100px) {
    font-size: 28px;
    font-weight: 600;
  }
}

//home
.about {
  text-align: center;
  padding-top: 30px;
  padding-bottom: 20px;
  @media screen and (min-width: 1100px) {
    padding: 50px;
  }
}

//headline
.about__headline {
  font-size: 28px;
  color: $text-color;
  font-weight: 600;
  text-align: center;
  padding-bottom: 15px;
  @media screen and (min-width: 1100px) {
    padding-bottom: 50px;
  }
}

.about__paragraph {
  padding-bottom: 13px;
  text-align: center;
  @media screen and (min-width: 1100px) {
    font-size: 18px;
  }
}

.about__image {
  display: flex;
  justify-content: center;
  padding-bottom: 30px;
}

//hero banner
.hero {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url('/images/nep-hero.jpg');

  // width: 1100px;
  height: 40vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin-inline: auto;
  // margin-bottom: 50px;

  &--organizace {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
      url('/images/org-hero.jpg');
  }

  @media screen and (min-width: 655px) {
    height: 60vh;
    max-width: 1000px;
  }
}

.hero--headline {
  font-size: 40px;
  color: $text-color;
  font-weight: 600;
  color: $text-color-secondary;
  padding: 50px 0 0 40px;
}

.intro {
  display: flex;
  flex-direction: column;

  &__background {
    background-color: $primary;
    color: $text-color-secondary;
  }
  @media screen and (min-width: 1100px) {
    flex-direction: row;
  }
}

.intro__image,
.intro__text {
  flex-basis: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  @media screen and (min-width: 1100px) {
    width: 50%;
  }
}

.intro__text {
  background-color: $primary;
  color: $text-color-secondary;
  font-weight: 500;
  gap: 23px;
  padding: 30px;
  text-align: center;
  @media screen and (min-width: 1100px) {
    // padding-block: 0px;
    text-align: left;
  }
}

h2 {
  font-size: 28px;
  color: $text-color;
  font-weight: 600;
  padding: 30px;
  text-align: center;

  @media screen and (min-width: 1100px) {
    padding: 80px 40px 40px;
    font-size: 32px;
  }
}

h3 {
  font-size: 22px;
  color: $text-color;
  font-weight: 600;
  text-align: center;
  padding-bottom: 5px;
  color: $primary;
  @media screen and (min-width: 1100px) {
    font-size: 22px;
    padding-bottom: 15px;
  }
}

// Kam vyrazit
.columns {
  display: flex;
  flex-direction: column;
  gap: 30px;
  // padding-bottom: 20px;

  &__icon {
    width: 20px;
    height: auto;
  }
  &__column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 23px;
    text-align: center;
    // margin-bottom: 20px;

    &--footer {
      background-color: $primary;
      color: $text-color-secondary;
      padding: 20px;
      margin-bottom: 0;
      @media screen and (min-width: 1100px) {
        flex-direction: row;
        gap: 40px;
        align-items: center;
      }
    }

    &--margin {
      margin-bottom: 50px;
      @media screen and (min-width: 1100px) {
        margin-inline: 70px;
      }
    }
  }
  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    @media screen and (min-width: 1100px) {
      flex-direction: row;
      justify-content: flex-start;
      text-align: left;
    }
  }

  @media screen and (min-width: 1100px) {
    flex-direction: row;
    gap: 20px;
    // padding-bottom: 50px;
  }
}

//button
.buttons {
  display: flex;
  justify-content: center;
}

.buttons__button {
  padding: 10px;
  text-align: center;
  background-color: $primary;
  color: $text-color-secondary;
  display: inline-block;
  border-radius: 15px;
  text-decoration: none;
  font-weight: 500;
  width: 200px;

  &:hover {
    color: $primary;
    background-color: $text-color-secondary;
    border: 2px solid $primary;
  }
  &--margin {
    margin: 10px 0 30px;
    @media screen and (min-width: 1100px) {
      margin: 30px 0 50px;
    }
  }
}

// PŘED CESTOU
.grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
  margin-top: 20px;
  justify-items: center;
  // @media screen and (min-width: 1100px) {
  //   gap: 40px;
  // }
  &__head {
    padding-bottom: 15px;
  }

  &__text {
    height: 135px;
    background-color: $primary;
    padding: 15px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    color: $text-color-secondary;
  }

  &__item--img {
    display: flex;
    justify-content: center;
  }

  &__padding-bottom {
    padding-bottom: 15px;
  }
}

@media screen and (min-width: 1300px) {
  .grid {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

//links
.link--white {
  color: $text-color-secondary;
}
