//colors
$primary: #463558;
$secondary: #d1e7e0;
$text-color: #161718;
$text-color-secondary: #ffffff;

// fonts
$font-base: 'Montserrat', Arial, 'sans-serif';

//sizes
$text-size: 16px;

html {
  box-sizing: border-box;
}

* ::before,
::after {
  box-sizing: inherit;
}

p,
span,
h1,
h2,
h3 {
  margin: 0;
  padding: 0;
}

body {
  background-color: $secondary;
  color: $text-color;
  font-family: $font-base;
  font-size: $text-size;
}

img {
  max-width: 100%;
}

.container {
  padding: 15px 20px;
}

// navigation
.navigation {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 15px;
}

.navigation__logo {
  font-size: 30px;
  font-weight: 700;
}

.navigation__items {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.navigation__item {
  color: $primary;
  padding: 8px;
  font-size: 18px;
  font-weight: 700;
  text-decoration: none;
  &:hover {
    color: $secondary;
    background-color: $primary;
    text-decoration: underline;
  }
}

//home
.about {
  text-align: center;
}

//headline
.about__headline {
  font-size: 28px;
  color: $text-color;
  font-weight: 600;
  text-align: center;
}

//hero banner
.hero {
  background-image: url('/images/library.jpg');
  width: 1100px;
  height: 30vh;
  background-size: contain;
}

.hero--headline {
  font-size: 28px;
  color: $text-color;
  font-weight: 600;
  color: $text-color-secondary;
  padding: 20px 0 0 25px;
}

.intro {
  display: flex;
  flex-direction: column;
  &__background {
    background-color: $primary;
    color: $text-color-secondary;
  }
}

.intro__image,
.intro__text {
  flex-basis: 50%;
}

.intro__text {
  background-color: $primary;
  color: $text-color-secondary;
  padding: 30px 25px;
}

.intro__item {
  padding-bottom: 10px;
}

h2 {
  font-size: 20px;
  color: $text-color;
  font-weight: 600;
  text-align: center;
  padding: 20px;
}

h3 {
  font-size: 18px;
  color: $text-color;
  font-weight: 600;
  text-align: center;
  padding: 15px 0;
}

// Kam vyrazit
.columns {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-bottom: 20px;

  &__icon {
    width: 20px;
    height: auto;
    padding-bottom: 10px;
  }
  &__column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    text-align: center;
  }
  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

//button
.buttons {
  display: flex;
  justify-content: center;
}

.buttons__button {
  padding: 10px 20px;
  background-color: $primary;
  color: $text-color-secondary;
  display: inline-block;
  border-radius: 15px;
  text-decoration: none;
  font-weight: 700;
  margin-bottom: 45px;
  &:hover {
    color: $primary;
    background-color: $text-color-secondary;
    // font-weight: 400;
    border: 2px solid $primary;
  }
}

// PŘED CESTOU

.grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
  &__head {
    padding-bottom: 15px;
  }

  &__text {
    height: 135px;
    background-color: $primary;
    padding: 15px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    color: $text-color-secondary;
  }

  &__padding-bottom {
    padding-bottom: 15px;
  }
}

@media screen and (min-width: 960px) {
  .grid {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

//footer
// .footer {
//   display: flex;
//   flex-direction: space-between;
//   flex-direction: column;
//   align-items: center;
//   background-color: $primary;
//   color: $text-color-secondary;
//   gap: 10px;
//   padding: 30px;
// }

.footer {
  background-color: $primary;
}
