<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Galerie - Mexiko</title>
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    {% include 'partials/navigation.njk' %}

    <div class="container">
      <div class="grid">
        <div class="grid__item grid__item--img">
          <img src="/images/mex_gal_7.jpg" alt="" />
        </div>

        <div class="grid__item grid__item--img">
          <img src="/images/mex_gal_8.jpg" alt="" />
        </div>

        <div class="grid__item grid__item--img">
          <img src="/images/mex_gal_9.jpg" alt="" />
        </div>

        <div class="grid__item grid__item--img">
          <img src="/images/mex_gal_10.jpg" alt="" />
        </div>

        <div class="grid__item grid__item--img">
          <img src="/images/mex_gal_11.jpg" alt="" />
        </div>

        <div class="grid__item grid__item--img">
          <img src="/images/mex_gal_5.jpg" alt="" />
        </div>
      </div>

      <div class="buttons">
        <a class="buttons__button buttons__button--margin" href="/mexiko/">Zpět na projekt </a>
      </div>
      <!-- footer -->
      {% include 'partials/footer.njk' %}
    </div>
  </body>
</html>
