<div class="columns__column columns__column--footer">
  <div class="columns__item">
    <span>2024 / Kristýna Adlofová </span>
  </div>
  <div class="columns__item">
    <img class="columns__icon" src="images/letter-white.png" alt="" />
    <span>kristyna.adlofova@gmail.com</span>
  </div>
  <div class="columns__item">
    <img class="columns__icon" src="images/facebook.svg" alt="" />
    <span>Kristýna Adlofová</span>
  </div>
</div>
