<nav class="navigation">
  <a href="/" class="navigation__logo">Volunteer-IT</a>

  <div class="navigation__items">
    <!-- <a href="/" class="navigation__item">Home</a> -->
    <a href="/organizace/" class="navigation__item">Organizace</a>
    <a href="/pred-cestou/" class="navigation__item">Před cestou</a>
    <a href="/nepal/" class="navigation__item">Nepál</a>
    <a href="/mexiko/" class="navigation__item">Mexiko</a>
  </div>
</nav>
